<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
    <div class="container">
        <i class="fa-sharp fa-solid fa-map-location-dot"></i>
        <a href="" class="navbar-brand">Turlar Uygulaması</a>
        <ul class="navbar-nav me-auto"> 
            <li class="nav-item">
                <a href="/" class="nav-link">Turlar</a>
            </li>    
            <li class="nav-item">
                <a href="/contact" class="nav-link">İletişim</a>
            </li>  
            <li class="nav-item">
                <a href="/about" class="nav-link">Hakkımızda</a>
            </li>      
            
        </ul>
    </div>
</nav>