{% extends "layout.html" %}

{% load static %}

{% block title %}Tours{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'turlar/css/style.css' %}">
{% endblock  %}

{% block js_files %}
    <script src="{% static 'turlar/js/script.js' %}"></script>
{% endblock  %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
    
            {% include 'turlar/partials/_categories.html' %}

        </div>
        <div class="col-9">    
              {% for tur in turlar   %}
                    {% if tur.isActive %}   
                        
                        {% include 'turlar/partials/_tur.html' %}
                    {% endif %}
              {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}

